.hero {
  position: relative;
  min-height: 400px;
  .background {
    position: relative;
    background-image: url("../assets/images/bg-hero.png");
    background-size: cover;
    min-height: inherit;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      min-height: inherit;
      background: rgba(0, 0, 0, 0.6);
    }
  }
  .content {
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    .logo {
      position: relative;
      margin-top: 36px;
      margin-bottom: 24px;
      img {
        position: relative;
        margin: 0 auto;
      }
    }
    .desc {
      h2 {
        color: #fff;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
      p {
        color: #fff;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Open Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.products {
  background: #009844;
  width: 100%;
  min-height: 400px;
  padding: 36px 16px;
  h3 {
    color: #fff;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .list-products {
    margin-top: 24px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

.about {
  width: 100%;
  min-height: 400px;
  padding: 36px 16px;
  .info {
    margin-bottom: 16px;
    h3 {
      color: #333;
      font-family: Open Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 8px;
    }
    p {
      color: #333;
      font-family: Open Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.cta-section {
  position: relative;
  padding: 24px;
  width: 100%;
  min-height: 160px;
  background: #383838;
  text-align: center;
}
