.about-detail {
    width: 100%;
    padding: 16px;
    .info {
      margin-bottom: 16px;
      h3 {
        color: #333;
        font-family: Open Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px;
      }
      p {
        color: #333;
        font-family: Open Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }

  .content-detail {
    position: relative;
    padding: 32px 16px;
    h2 {
        color: #333;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px;
    }
    .image {
        border-radius: 4px;
        width: 100%;
    }
  }

.cta-section-detail-page {
    text-align: center;
    .btn-link {
        color: #333;
    }
}

.price {
    margin-top: 14px;
      color: #ff6915;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
}